# Environment variables example
# Copy this file to .env.local and update the values as needed

# Node
NODE_ENV=development

# Public
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_MARBLE_API_URL=https://api.marblecms.com

# Server
DATABASE_URL="postgresql://hypercut:hypercut@localhost:5432/hypercut"
BETTER_AUTH_SECRET=your_better_auth_secret

UPSTASH_REDIS_REST_URL=http://localhost:8079
UPSTASH_REDIS_REST_TOKEN=example_token_here

MARBLE_WORKSPACE_KEY=your_workspace_key_here

FREESOUND_CLIENT_ID=your_client_id_here
FREESOUND_API_KEY=your_api_key_here

CLOUDFLARE_ACCOUNT_ID=your_account_id_here
R2_ACCESS_KEY_ID=your_access_key_here
R2_SECRET_ACCESS_KEY=your_secret_key_here
R2_BUCKET_NAME=hypercut-transcription # whatever you named your r2 bucket

MODAL_TRANSCRIPTION_URL=your_modal_url_here