# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# macOS
.DS_Store

# asdf version management
.tool-versions

node_modules
.cursorignore
.turbo

.env*
!*.env.example

# cursor
bun.lockb

# Twiggy
.cursor/rules/file-structure.mdc
*.tsbuildinfo
apps/web/reports/
